.container
{
    width: 90%;
    height: 70%;
	background-color: blue;
	padding: 50px 0px;
	overflow: hidden;
    margin: auto;
}

.recent
{   
    height: 100%;
    width: 25%;
	background-color: azure;
	float: left;
	margin: 0px 1%;
    border-radius: 20px;
}

.chat
{
    height: 100%;
    width: 44%;
	background-color: azure;
	float: left;
	margin: 0px 1%;
    border-radius: 20px;
}

.contact
{   
    height: 100%;
    width: 25%;
	background-color: azure;
	float: left;
	margin: 0px 1%;
    border-radius: 20px;
}
.contact p
{
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.recent p
{
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.chat p
{
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.send
{
    width: 70%;
    background-color: white;
    height: 15%;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px #d113b5;
    outline: none;
    border: 5px solid darkviolet;
 }

.receive
{
    width: 95%;
    background-color: white;
    height: 70%;
    margin-top: 10px;
    margin-left: 2.5%;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 5px 5px #d113b5;
    outline: none;
    border: 5px solid darkviolet;
    
}

.button {
  margin-top: 6%;
  margin-right: 3%;
  float: right;
  position: relative;
  display: block;
  width: 18%;
  height: 8%;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
  .button :hover 
    {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }