.container1
{   
   display: inline-block;
    width: 100%;
    height: 100px;
    float: right;
    background-image: url(imagini/culori.jpg);
	padding-bottom:1px;
}

.container1 .flog
{   
   float: right;
}
.container1 .ilog
{   
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
    margin-top: 15px;
    font-size: 13px;
    border-radius: 10px;
    width:150px;
    box-shadow: 2.5px 2.5px black;
    border: 0.15em solid darkviolet;
	height:20px;
	outline: none;
  
}
.rez1:hover
{
  animation-name: reslogform;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; 
}
@keyframes reslogform {
  from {width:150px;
  border: 0.15em solid darkviolet;
	height:20px;}
  to {width:200px;
  border: 0.15em solid violet;
	height:35px;}
}
.logout{
	float:right;
	margin-right:20px;
	border-radius:50%;
	background-image:url(imagini/logout.jpg);
	background-position:center;
	background-size:auto;
	width:50px;
	height:50px;
	margin-top:25px;

}
.logout:hover{cursor:pointer;
}
.settings{
	float:right;
	margin-right:50px;
	border-radius:50%;
	background-image:url(imagini/settings.jpg);
	background-position:center;
	background-size:auto;
	width:50px;
	height:50px;
	margin-top:25px;
}
.container1 .login
{  
    padding: 5px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;
    color:black;
    font-size: 13px;
    border: none;
    cursor: pointer;
    text-align: center;
    border: 0.10em solid black;
    border-radius: 10px;
	height:30px;
	width:50px;
}
.container1 .login:hover
{
    text-shadow: 2px 2px cadetblue;
    font-weight: bold;
    box-shadow: 2px 2px black;
    background-color:lightblue;
}

.soci
{
    margin-left: 5%;
}